@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Merienda', cursive;
}

header {
  background-color: #f3e9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 2px solid grey;
}

header img {
  width: 250px;
}

header nav ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

header nav ul a {
  color: black;
  text-decoration: none;
}

header nav ul .active {
  border-color: black;
  background-color: #dbebea;
}

header nav ul li {
  width: auto;
  height: auto;
  padding: 5px 10px 5px 10px;
  line-height: 40px;
  text-align: center;
  list-style: none;
  margin: 0 20px 0 0;
  border: 2px solid rgba(207, 190, 190, 0.6);
  cursor: pointer;
  border-radius: 50% 10% / 10% 50%;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

header nav ul li:hover {
  background-color: #dad0d0;
  border: 2px solid black;
}

header nav ul .nb_panier {
  position: relative;
  top: -30px;
  left: -35px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  line-height: 20px;
  border-radius: 30px;
  color: red;
  border: 2px solid red;
  text-align: center;
  background-color: #fff !important;
}

header nav ul .nb_panier:hover {
  border-color: red;
}

h1 {
  text-align: center;
}

.produits {
  position: relative;
  max-width: 1200px;
  width: 90%;
  height: auto;
  margin: auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
}

.produits h3, .produits span {
  padding-left: 20px;
}

.produits ul {
  margin: 0;
  padding: 20px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.produits ul a {
  color: black;
  text-decoration: none;
}

.produits ul li {
  position: relative;
  list-style-type: none;
  margin: 0 40px 40px 0;
  padding: 0;
  width: 300px;
  height: 300px;
  cursor: pointer;
  border: 2px solid #8b7e7e;
  border-radius: 10px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.produits ul li:hover {
  border-color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.produits ul li picture {
  position: relative;
}

.produits ul li picture img {
  position: relative;
  width: 100%;
  height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.element {
  position: relative;
  width: 80%;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px;
}

.element picture {
  position: relative;
  width: 50%;
}

.element picture img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.element .description {
  position: relative;
  width: 50%;
  height: 100%;
}

.element .description p, .element .description h4, .element .description span, .element .description .howmuch {
  margin: 0 0 0 30px;
}

.element .description h4 {
  margin-top: 30px;
}

.element .description select {
  width: 150px;
  height: 30px;
  margin-left: 30px;
  font-family: 'Merienda', cursive;
  font-size: 1em;
  cursor: pointer;
}

.element .description .howmuch {
  width: 50px;
  height: 20px;
  margin-top: 10px;
  font-size: 1em;
  padding-left: 10px;
  font-family: 'Merienda', cursive;
}

.element .description .zone-tarif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 26px;
  height: 100px;
  border-bottom-right-radius: 10px;
  border: 1px solid grey;
  background-color: #f3e9f1;
}

.element .description .zone-tarif .tarif-total {
  width: 100px;
  text-align: left;
  margin-left: 30px;
}

.element .description .zone-tarif .tarif-total h4, .element .description .zone-tarif .tarif-total span {
  margin: 0;
}

.element .description .bouton {
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px 0 30px;
  border-radius: 20px;
  text-align: center;
  background-color: #e6d5d5;
  border: 1px solid grey;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.element .description .bouton:hover {
  background-color: #f5c6c6;
  border: 1px solid black;
}

.element .description .bouton span {
  margin: 0;
  padding: 0;
}

.produits_panier {
  position: relative;
  width: 80%;
  height: auto;
  margin: auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
}

.produits_panier ul {
  margin: 0;
  padding: 0;
}

.produits_panier ul li {
  position: relative;
  width: 100%;
  height: 150px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 20px;
}

.produits_panier ul li picture {
  position: relative;
  width: 20%;
  height: 100%;
}

.produits_panier ul li picture img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.produits_panier ul li .critere {
  position: relative;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-right: 2px solid black;
}

.produits_panier ul li .critere .sous_cat h4, .produits_panier ul li .critere .sous_cat span {
  font-size: 20px;
}

.produits_panier ul li .zone_total {
  position: relative;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 2px solid black;
}

.produits_panier ul li .zone_total h4, .produits_panier ul li .zone_total span {
  font-size: 20px;
}

.produits_panier ul li .croix {
  position: relative;
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.produits_panier ul li .croix span {
  text-transform: uppercase;
  color: red;
  font-weight: bold;
  font-family: sans-serif;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 30px;
  text-align: center;
  border: 2px solid red;
  font-size: 15px;
  cursor: pointer;
}

.produits_panier .total_panier {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 60px;
  width: 100%;
  height: 60px;
  border: 1px solid grey;
  border-radius: 10px;
}

.produits_panier .total_panier span {
  font-weight: bold;
}

.produits_panier .total_panier span:last-of-type {
  margin-right: 40px;
}

.produits_panier .total_panier span:first-of-type {
  margin-left: 40px;
}

.produits_panier form {
  background-color: #f3e9f1;
  margin-top: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0px 20px 20px 0px;
}

.produits_panier form input {
  position: relative;
  width: 500px;
  height: 40px;
  margin: 0px 0px 20px 100px;
  font-size: 20px;
  padding-left: 20px;
  text-transform: capitalize;
  outline: none;
}

.produits_panier form input:first-of-type {
  margin-top: 20px;
}

.produits_panier form input:last-of-type {
  text-transform: none;
}

.validation {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  height: auto;
  text-align: right;
}

.validation .bouton {
  position: relative;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 20px;
  color: #4e2f2f;
  cursor: pointer;
  background-color: #a2f88d;
  border: 2px solid grey;
  -webkit-transition: .3s;
  transition: .3s;
}

.validation .bouton:hover {
  border: 2px solid black;
  color: black;
}

.test {
  margin-top: 40px;
  text-align: center;
  font-size: 25px;
}

.test span {
  padding: 10px 15px 10px 15px;
  border: 2px solid grey;
  border-radius: 30px;
  background-color: #f3b2b2;
  cursor: pointer;
}

.erreur {
  margin: 50px 0px 0px 100px;
  color: red;
}

.cadre {
  position: relative;
  width: 50%;
  height: auto;
  margin: auto auto 50px auto;
  border: 1px solid grey;
  padding-left: 40px;
  background-color: rgba(111, 206, 111, 0.2);
  font-size: 20px;
}

.cadre .nom_client {
  text-transform: capitalize;
}

.cadre span {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */