@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Merienda', cursive;
    background-color: #ecece0;
}
.nb_panier{
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 20px;
    border-radius: 30px;
    color: red;
    border: 2px solid red;
    text-align: center;
    background-color: #fff !important;
} 
header{
    background-color: #f3e9f1;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid grey;
    align-items: center;
    height: 120px;
    @media screen and (max-width: 650px) {
        height: 60px;
         justify-content: space-between;
    }
    .menu-small{
        width: 110px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        margin-right: 20px;
        @media screen and (min-width: 650px) {
            display: none;
        }
        i{
            font-size: 2em;
            color:rgb(77, 118, 165)
        }
        .nb_panier{
            
            top: -15px;
            left: -15px;
            width: 15px;
            height: 15px;
            line-height: 15px;
            font-size: 0.8em;
            
            &:hover{
                border-color: red;
            }
        }
    }
    a{
        picture{

            img{
                @media screen and (max-width: 650px) {
                    width: 50px;
                    height: 40px;
                    margin-left: 40px;
                }
            }
        }
    }
    nav{
        ul{
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            margin: 0;
            padding: 0;

            a{
                color: black;
                text-decoration: none;
            }

            .active{
                border-color: black;
                background-color: #dbebea;
            }
            .panier{
                margin: 0;
            }
            li{
                width: auto;
                height: auto;
                padding: 5px 10px 5px 10px;
                line-height: 40px;
                text-align: center;
                list-style: none;
                margin: 0 20px 0 0;
                border: 2px solid rgba(207, 190, 190, 0.6);
                cursor: pointer;
                border-radius: 50% 10% / 10% 50% ;
                background-color: white;
                transition: .2s;
   
                &:hover{
                    background-color: rgb(218, 208, 208);
                    border: 2px solid black;
                }
            }
            .nb_panier{
                top: -30px;
                left: -35px;
                width: 20px;
                height: 20px;

                &:hover{
                    border-color: red;
                }
            }
        }
        @media screen and (max-width: 650px) {
            display: none;
        }
    }
    picture{
        

        img{
            position: relative;
            width: 250px;
        }
    }

}

h1{
    text-align: center;
    color: #5e3869;
    @media screen and (max-width: 600px) {
        font-size: 1.5em;
    }
}
.produits{
    position: relative;
    max-width: 1200px;
    width: 90%;
    height: auto;
    margin: auto;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5%;
    background-color: #f3e9f1;
    @media screen and (max-width: 700px) {
        width: 80%;               
    }
    
    h3, span{
        padding-left: 20px;
    }

    ul{
        margin: 0;
        padding: 20px 20px 0px 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        justify-content: center;

        a{
            color: black;
            text-decoration: none;

        }

        li{
            position: relative;
            list-style-type: none;
            margin: 0 20px 40px 20px;
            padding: 0;
            width: 300px;
            height: 300px;
            cursor: pointer;
            border: 2px solid rgb(139, 126, 126);
            border-radius: 10px;
            background-color: white;

            @media screen and (max-width: 808px) {
                width: 85%;
                height: 300px;
            }
            @media screen and (max-width: 430px) {
                width: 85%;
                height: 220px;
            }
            &:hover{
                border-color: black;
            }
            

            picture{
                position: relative;

                img{
                    position: relative;
                    width: 100.5%;
                    height: 65%;
                    object-fit: cover;
                    border-top-left-radius: 7px;
                    border-top-right-radius: 7px;
                    @media screen and (max-width: 808px) {
                       
                    }
                }
            }
            h3{

                @media screen and (max-width: 586px) {
                    margin: 0.8em 0 0.5em ;
                }
                @media screen and (max-width: 430px) {
                    margin: 0 0 0.5em 0;
                }
            }
        }
    }
}

.element{
    position: relative;
    width: 80%;
    height: auto;
    display: flex;
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #f3e9f1;

    .lense_quant{
            display : flex;
            justify-content: space-between;
            align-items: center;
        h4{
            margin-top: 30px !important;
        }
        @media screen and (max-width: 1350px) {
        
            h4{
                margin-top: 30px !important;
            }
    
            .zone_quant{
                margin-right: 30px !important;
    
                input{
                    margin-top: 0 !important;
                }
            }
        }

        @media screen and (max-width: 400px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    

    @media screen and (max-width: 900px) {
        width: 60%;
        flex-direction: column;
    }
    @media screen and (max-width: 570px) {
        width: 90%;
    }

    picture{
        position: relative;
        width: 50%;
        @media screen and (max-width: 900px) {
            width: 100%;
        }

        img{
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            @media screen and (max-width: 900px) {
                border-radius: 10px;
            }
        }
    }

    .description{
        position: relative;
        width: 50%;
        height: 100%;

        @media screen and (max-width: 900px) {
            width: 100%;
        }

        p, h4, span, .howmuch {
            margin: 0 0 0 0;
        }
        
        h4 {
            margin-top: 30px;
            &:first-of-type{
                margin-top: 0;
            }
        }

        select{
            width: 150px;
            height: 30px;
            // margin-left: 30px;
            font-family: 'Merienda', cursive;
            font-size: 1em;
            cursor: pointer;
        }

        .howmuch{
            width: 50px;
            height: 20px;
            margin-top: 10px;
            font-size: 1em;
            padding-left: 10px;
            font-family: 'Merienda', cursive;
            &::-webkit-outer-spin-button{
                cursor: pointer;
            }
            &::-webkit-inner-spin-button{
                cursor: pointer;
            }
        }

        .zone_description{
            padding: 30px;
            height: auto;
            @media screen and (max-width: 1350px) {
                height: 100%;
            }
        }
        .zone-tarif{
            display: flex;
            text-align: center;
            justify-content: space-between;
            align-items: center;
            margin-top: 46px;
            height: 100px;
            border-bottom-right-radius: 10px;
            border: 1px solid grey;
            background-color: #fff;
            @media screen and (max-width: 1350px) {
                margin-top: 0;
            }

            .tarif-total{

                width: 100px;
                text-align: left;
                margin-left: 30px;

                h4, span{
                    margin: 0;
                }

            }
        }

        .bouton{
            width: 200px;
            height: 40px;
            line-height: 40px;
            margin: 0 10px 0 30px;
            border-radius: 20px;
            text-align: center;
            background-color: rgb(230, 213, 213);
            border: 1px solid grey;
            cursor: pointer;
            transition: .5s;

            &:hover{
                background-color: #f5c6c6;
                border: 1px solid black;
            }

            span{
                margin: 0;
                padding: 0;
            }
        }
    }
}

.produits_panier{
    position: relative;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

    ul{
        margin: 0;
        padding: 0;

        li{
            position: relative;
            width: 100%;
            height: 150px;
            list-style: none;
            display: flex;
            border-radius: 10px;
            background-color: #f3e9f1;
            border: 1px solid grey;
            margin-bottom: 20px;

            @media screen and (max-width: 900px) {
                flex-direction: column;
                width: 95%;
                margin: 0 auto 20px auto;
                height: auto;
                align-items: center;
                padding: 20px 10px 20px 10px;
            }

            picture{
                position: relative;
                width: 20%;
                height: 100%;

                @media screen and (max-width: 900px) {
                    width: 40%;
                }
                @media screen and (max-width: 600px) {
                    width: 70%;
                }
                img{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            .critere{
                position: relative;
                width: 70%;
                display: flex;
                justify-content: space-around;
                border-right: 2px solid black;

                @media screen and (max-width: 900px) {
                    width: 95%;
                    border: 1px solid black;
                    border-radius: 10px;
                    margin-top: 20px;
                }

                @media screen and (max-width: 600px) {
                    flex-direction: column;
                    text-align: center;
                    border: none;
                }

                .sous_cat{

                    @media screen and (max-width: 900px) {
                        padding-bottom: 1em;
                    }
                    h4, span{
                        font-size: 20px;
                    }

                    h4{
                        @media screen and (max-width: 900px) {
                            margin-top: 1em;
                            font-size: 15px;
                        }
                        @media screen and (max-width: 600px) {
                            margin-bottom: 0;
                            margin-top: .5em;
                        }
                    }
                    span{
                        font-size: 15px;
                    }

                }
            }

            .zone_total{
                position: relative;
                width: 10%;
                display: flex;
                flex-flow: column;
                align-items: center;
                border-right: 2px solid black;

                @media screen and (max-width: 900px) {
                    width: 100%;
                    justify-content: center;
                    flex-direction: row;
                    border: none;
                }

                h4::after{
                    @media screen and (max-width: 900px) {
                        content:' : ';
                    }
                }
                span::before{
                    @media screen and (max-width: 900px) {
                        content: ': ';
                        color: transparent;
                    }
                }

                h4, span{
                    font-size: 20px;
                }
            }
            .croix{
                position: relative;
                width: 10%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                span{
                    text-transform: uppercase;
                    color: red;
                    font-weight: bold;
                    font-family: sans-serif;
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    border-radius: 30px;
                    text-align: center;
                    border: 2px solid red;
                    font-size: 15px;
                    cursor: pointer;
                }
                
            }
        }
    }

    .total_panier{
        position: relative;
        display: flex;
        justify-content: space-between;
        line-height: 60px;
        width: 100%;
        height: 60px;
        border: 1px solid grey;
        border-radius: 10px;
        // background-color: green;
        span{
            font-weight: bold;
            &:last-of-type{
                margin-right: 40px;
            }
            &:first-of-type{
                margin-left: 40px;
            }
        }
    }

    form{
        background-color: #f3e9f1;
        margin-top: 20px;
        border: 1px solid grey;
        border-radius: 10px;
        padding: 0px 20px 20px 0px;
        h2{
            text-align: center;
            color: #5e3869;
        }
        @media screen and (max-width: 900px) {
            text-align: center;
            padding-right: 0;
        }

        input{
            position: relative;
            width: 500px;
            height: 40px;
            margin: 0px 0px 20px 100px;
            font-size: 20px;
            padding-left: 20px;
            text-transform: capitalize;
            outline: none;
            color: black;
            
            &:focus{
                border: 2px solid rgb(127, 175, 127);
                background-color: rgb(215, 247, 185);
            }
            @media screen and (max-width: 900px) {
                width: 76%;
                margin: 0px auto 20px auto;
            }

            &:first-of-type{
                margin-top: 20px;
            }
            &:last-of-type{
                text-transform: none;
            }
            &::placeholder{
                color: black;
                opacity: .5;
            }
        }

        select{
            position: relative;
            width: 526px;
            height: 45px;
            margin: 0px 0px 20px 100px;
            font-size: 20px;
            padding-left: 20px;
            color: grey;
            outline: none;
            cursor: pointer;
            @media screen and (max-width: 900px) {
                width: 80%;
                margin: 0px auto 20px auto;
            }
        }
        .C_black{
            color: black !important;
        }
    }
}


.validation{
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    height: auto;
    text-align: right;
    margin-top: 20px;
    @media screen and (max-width: 900px) {
        text-align: center;
        
    }
    .bouton{
      position: relative;
      padding: 10px 10px;
      border-radius: 10px;
      font-size: 20px;
      color: rgb(78, 47, 47);
      cursor: pointer;
      background-color: rgb(162, 248, 141);
      border: 2px solid grey;
      transition: .3s;
        &:hover{
            border: 2px solid black;
            color: black;
        }  
    }
}

.erreur{
  margin: 50px 0px 0px 100px;
  color: red;
}

.cadre{
    position: relative;
    width: 50%;
    height: auto;
    margin: auto auto 50px auto;
    border: 1px solid grey;
    padding: 40px;
    background-color: rgba(111, 206, 111,.2);
    font-size: 20px;
    .nom_client{
        text-transform: capitalize;
    }
    span{
        font-weight: bold;
    }
}
.square{
    width: 30px;
    height: 30px;
    background-color: blue;
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: blue;
}
.rectangle{
    width: 30px;
    height: 50px;
    background-color: blue;
}
footer{
    position: relative;
    width: 90%;
    height: auto;
    margin: 50px auto 20px auto;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5%;
    background-color: #f3e9f1;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
    .div-footer{
        position: relative;
        width: calc(100% / 3);
        text-align: center;
        border-right: 2px solid grey;
        &:last-of-type{
            border: none;
        }
        @media screen and (max-width: 840px) {
            width: calc(100% / 2);
        }
        @media screen and (max-width: 600px) {
            width: 100%;
            border: none;
        }
        
        a{
            position: relative;
            text-decoration: none;
            color: black;
            cursor: pointer;
            transition: .5s;

            &:hover{
                color: #41ad33;
                &::after{
                    opacity: 1;
                    top: 100%;

                }
            }
            
            &::after{
                content: '';
                position: absolute;
                top: 140%;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #41ad33;
                opacity: 0;
                transition: .3s;

            }
        }
    }

    .logo{
        a{
            &::after{
                display: none;
            }
        }
        img{
            position: relative;
            width: 250px;
        }
        @media screen and (max-width: 840px) {
            display: none;
        }
    }
    
    .menu{
        a{
            position: relative;
            &:hover{
                color: #41ad33;
                &::after{
                    opacity: 1;
                    top: 100%;
                }
            }
        }
    }
}

@keyframes panier {
    0%{
      left: 0%;
      top: calc(100% - 110px);
    }
    25%{
      left: calc(100% - 150px);
      transform: rotate(0deg);
      top: calc(100% - 110px);
      animation-timing-function: cubic-bezier(.43,.57,.14,.99);
      
    }
    50%{
        top: 98%;
        left: calc(100% - 150px);
        transform: rotate(180deg);
        animation-timing-function: ease-in;
    }
    80%{
        top: 98%;
        left: -100px;
        transform: rotate(180deg);
    }
    90%{
        left: -100px;
        top: calc(100% - 110px);
        transform: rotate(360deg);
    }

    100%{
        left: 0;
        top: calc(100% - 110px);
        transform: rotate(360deg);
    }
  }

  @keyframes letter {
      0%{
          opacity: 1;
          top: 15%;
      }
      15%{
          opacity: 1;
          left: 82%;
          top: 15%;
      }
      20%{
        opacity: 1;
        left: 82%;
        top: 15%;
    }
      30%{
        opacity: 1;
        left: 82%;
        top: 60%;
      }
      50%{
        opacity: 1;
        left: 82%;
        top: 60%;
      }
      80%{
        opacity: 1;
        top: 60%;
      }
  }

.animation{
    position: relative;
    width: 30%;
    height: 150px;
    margin: 50px auto 120px auto;
    padding: 30px;
    border-radius: 20px;
    background: linear-gradient(164deg, rgba(210,249,207,1) 0%, 
    rgba(98,183,198,0.8690826672465861) 55%, rgba(136,203,228,1) 100%);
    box-shadow: 0px 2px 37px 10px rgba(136,203,228,0.82);
    border: 4px solid grey;
    @media screen and (max-width: 850px) {
        width: 50%;
    }
    @media screen and (max-width: 530px) {
        display: none;
    }

    .el{
        position: absolute;
        width: 50px;
        height: 50px;
        font-family: 'Permanent Marker', cursive;
        font-size: 35px;
        margin: 0;
        text-align: center;
        top: 15%;
        right: 0;
        bottom: 0;
        animation: letter 7s infinite;
      &:nth-child(1){
        color: red;
        animation: letter 7s infinite;
        left: 7%;
      }
      &:nth-child(2){
        color: rgb(176, 199, 48);
        left: 19.5%;
      }
      &:nth-child(3){
        color: rgba(26, 168, 102, 0.644);
        left: 32%;
      }
      &:nth-child(4){
        color: rgb(14, 69, 121);
        left: 44.5%;
      }
      &:nth-child(5){
        color: rgb(75, 31, 95);
        left: 57%;
      }
      &:nth-child(6){
        color: rgb(241, 112, 235);
        left: 69.5%;
      }
      &:nth-child(7){
        color: rgb(0, 255, 115);
        left: 82%;
      }
    }
    .panier{

      img{
        position: absolute;
        top: calc(100% - 110px);
        left: 0%;
        width: 150px;
        animation: panier 7s linear infinite;
      }

    }
  
  }

  .anim-none{
      display: none;
  }